!!!
%html
  %head
    %title NitGit - Git History Browser
    %link{ :rel => "stylesheet", :type => "text/css",
           :href => "/jquery-ui-1.7.2.custom/css/ui-lightness/jquery-ui-1.7.2.custom.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/application.css" }
    %script{ :src => "/jquery-ui-1.7.2.custom/js/jquery-1.3.2.min.js" }
    %script{ :src => "/js/jquery.hotkeys-0.7.9.min.js" }
    %script{ :src => "/js/pxem.jQuery.js" }
    %script{ :src => "/js/repo_manager.js" }
    :javascript
      PROJ = '#{@project}'
      PAGE = #{@page}
      RepoManager.branches = #{@branches}
  %body
    .modal
      %h2 whatchanged
      %input{ :type => "text" }
    #header.ui-helper-clearfix
      #logo.heading
        #home
          %a{ :href => "/" }
            = @project
        .sep /
        #select_branch
          %select
            - @repo.heads.each do |h|
              %option{ :value => h.name, :selected => ("selected" if @selected_branch == h.name) }
                = h.name
        .sep /
        #sha
      %p#credit
        nitgit by
        %a{ :href => "http://greatseth.com" }
          greatseth
      %img.spinner{ :src => "/images/spinner-white-on-black.gif", :style => "display:none" }
    #content.ui-helper-clearfix
      = yield
