!!!
%html
  %head
    %title Walter - git browser supreme
    %link{ :rel => "stylesheet", :type => "text/css",
           :href => "/jquery-ui-1.7.2.custom/css/ui-lightness/jquery-ui-1.7.2.custom.css" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/css/application.css" }
    %script{ :src => "/js/jquery-1.4.2.min.js" }
    %script{ :src => "/js/jquery.hotkeys.js" }
    %script{ :src => "/js/pxem.jQuery.js" }
    %script{ :src => "/js/repo_manager.js" }
    -# TODO probably want to get some to_json going on soon
    :javascript
      RepoManager.mode         = '#{@mode or "null"}'
      RepoManager.project      = '#{@project}'
      RepoManager.current_page = #{@page}
      RepoManager.branches     = [#{@branches.map { |x| "'#{x}'" } * ','}]
  %body
    .modal
      %h2 whatchanged
      %input{ :type => "text" }
    -# TODO this has gotten messy.. naming is poor, abuse of containers for 
    -# unrelated behaviors, etc...
    #header.ui-helper-clearfix
      #logo.heading
        #home
          %a{ :href => "/" }
            = @project
        .sep /
        #select_branch
          - if @glob
            whatchanged
          - else
            %select
              - @repo.heads.each do |h|
                %option{ :value => h.name, :selected => ("selected" if @selected_branch == h.name) }
                  = h.name
        .sep /
        #sha
          = @glob
      %p#credit
        Walter by
        %a{ :href => "http://greatseth.com" }
          greatseth
      %img.spinner{ :src => "/images/spinner-white-on-black.gif", :style => "display:none" }
    #content.ui-helper-clearfix
      = yield
